extends layout

block content
  div(id='title')
  div(id='opening-words')
  
  form(id='twitter-handle' action='/twitter')
    input(type='text', id='handle', name='handle', placeholder='@yourtwitterhandle')
    input(type='submit', id='handleButton', value='go!')
