extends layout

block content
  h1= title
  p find out what's in your twitter cloud, you twitter obsessed scoundrel

  form(action='/', method='get')
    input(type='text', placeholder='@yourtwitterhandle')
    input(type='submit', value='go!')
