extends layout

block content
  h1= title
  p find out what's in your twitter cloud, you twitter obsessed scoundrel

  form(id='twitter-handle' action='/twitter')
    input(type='text', id='handle', name='handle', placeholder='@yourtwitterhandle')
    input(type='submit', id='handleButton', value='go!')
