extends layout

block content

  h1= title
  div(id='all-tweets') 
    each val in tweets
      p(class='text')= val.text
  
  script(type='text/javascript').
    var tweets = $('#all-tweets').text();
    var twits = tweets.split(' ');
    var twitHash = {};
    for (var i in twits) {
      if (twitHash[twits[i]]) {
        twitHash[twits[i]] += 1;
      } else {
        twitHash[twits[i]] = 1;
      }
    }
    console.log(twitHash);
