extends layout

block content

  h1= title
  div(id='all-tweets') 
    each val in tweets
      p(class='text')= val.text
  
  script(type='text/javascript').
    var tweets = $('#all-tweets').html();
    console.log(tweets);
  
