extends layout

block content

  h1= title
  div(id='top-tweets') #{topTenWords}
  div(id='top-nums') #{topTenNums}
  
  div(id='tweet-graph') 

  div(id='all-tweets') 
    each val in tweets
      p(class='text')= val.text 
