extends layout

block content
  h1= title
  div(id='top-tweets') #{topTenWords}
  div(id='top-nums') #{topTenNums}
  
  h2(id='top-ten-header')
  
  div(id='tweet-graph') 
  
  h2 last 100 tweets
  
  div(id='all-tweets') 
    each val in tweets
      p(class='text')= val.text 
