body {
  padding: 1em;
  font-family: "Helvetica Neue", monospace;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#top-tweets {
  color: #fff;
}

#top-nums {
  color: #fff;
}

#tweet-graph div {
  font: 14px "Helvetica Neue";
  background-color: rgb(110, 219, 244);
  text-align: right;
  padding: 4px;
  margin: 2px;
  color: #000;
}

.text {
  background-color: rgb(213, 242, 232);
}
